Localization
{
	en-us
	{
		// --- the Core ---
		
		#autoLOC_OTAV_0000 = REKT Orbital Transition Atmospheric Vehicle	
		#autoLOC_OTAV_0001 = Cooked up by the guys in SHED's Wacky Orbital Reasearch eXperiments division the Type-W364 is cutting edge design, honestly we're not sure how they came up with it but it certainly wasn't industrial espionage thats for sure...
		#autoLOC_OTAV_0002 = Jettison OTAV shroud

		// -- Airbrake ---

		#autoLOC_OTAV_0003 = REKT OTAV Stabalisation Equipment
		#autoLOC_OTAV_0004 = After realising that the pilot may want to slow down before they have to lithobrake the Airbrake was a hastily added modifcation to the orginal design. The in built stabilisers should be deployed before attempting to utilise the brake.
		#autoLOC_OTAV_0005 = Deploy Fins
		#autoLOC_OTAV_0006 = Retract Fins
		#autoLOC_OTAV_0007 = Toggle OTAV Fins

		// --- Flap ---
		
		#autoLOC_OTAV_0008 = REKT OTAV Pitch Stabaliser
		#autoLOC_OTAV_0009 = Sort of important if a pilot wants to be able to control the pitch of the OTAV once it gets into some nice atmosphere.

		// --- OTAV Engine ---		

		// --- Ring Dock ---


		// --- Inline Dock ---

		
		// --- Docking Clamps ---
	}
]
